.hero {
  background-image: url("../../../../public/images/banner2.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 90vh;
  width: 100%;
}
.hero .container {
  padding-top: 15%;
}
.hero h1 {
  color: #fff;
  font-size: 60px;
}
.hero p {
  color: #fff;
  
}


@media screen and (max-width: 800px) {
  .hero .container {
    padding-top: 30%;
  }
  
}
